<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FullscreenHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FullscreenHelper.Properties.Settings>
            <setting name="ScaleMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinimizeAtWindowsStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdjustCursorSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CultureName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinimizeWhenClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameRateLimit" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FrameRateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableLowLatency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DebugShowAllCaptureMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugBreakpointMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableWindowResizing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorInterpolationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableDirectFlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Is3DMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdapterIdx" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CropTitleBarOfUWP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugDisableEffectCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiMonitorUsage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulateExclusiveFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebuggingOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomCropping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugSaveEffectSources" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugWarningsAreErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayHotkey" serializeAs="String">
                <value>Control+Alt+D</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
        </FullscreenHelper.Properties.Settings>
    </userSettings>
</configuration>